<!DOCTYPE html>

<html>

<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<title>Answer</title>
	<style>

		input[type=button]{
			margin:auto;
			width:175px;
			padding:10px;
			font-size:22px;
			border-radius:10px;
			margin-top:5px;
		}

	</style>

</head>

<body>
	<div id="div1">
		<!-- <p>{{display}}</p> -->
		<input type="button" value="Return" onclick="window.location.href = 'https://localhost:5000';"></input>
	</div>

	<script>
			
			var para = document.createElement("p");
			var calc = {{ display|tojson|safe }};
			var i;

			for (i=0;i < calc.length;i++) {

				var node = document.createTextNode(calc[i]);
				para.appendChild(node);

				var element = document.getElementById("div1");
				element.appendChild(para);

				var div_break = document.createElement("br");
				para.appendChild(div_break);

			}//endfor

	</script>

</body>



</html>